In [6]:
import numpy as np
import pandas as pd

In [1]:
#this is likely easiest done manually

In [4]:
data = []

with open('./data/csvs/gross summary.txt','r') as file:
    for line in file:
        splitline = []
        for point in line.split('\t'):
            splitline.append(point)
        data.append(splitline)

In [7]:
data_array = np.zeros((len(data),len(data[0])))
data_array = data_array.astype(dtype=object)
print(data_array.shape)

(11, 6)

In [8]:
for i, line in enumerate(data):
    for j, point in enumerate(line):
        data_array[i,j] = line[j]

In [9]:
data_array

array([['Category', 'Scope 1', 'Scope 2', 'Scope 3',
        '" Carbon footprint 2020-21 (tonnes CO2e) (scopes 1,2&3) "',
        'Additional outside of scopes\n'],
       ['Buildings & utilities', '" 1,254 "', '" 4,388 "', '" 1,246 "',
        '" 6,887 "', '\n'],
       ['Transport', ' 590 ', ' -   ', '" 3,446 "', '" 4,037 "',
        ' 181.47 \n'],
       ['Waste', ' -   ', ' -   ', '" 39,320 "', '" 39,320 "', ' -   \n'],
       ['Schools (maintained)', ' -   ', ' -   ', '" 7,397 "',
        '" 7,397 "', ' -   \n'],
       ['Agriculture', ' -   ', ' -   ', '" 14,511 "', '" 14,511 "',
        '\n'],
       ['"Land use, land use change and forestry"', ' -   ', ' -   ',
        '" 24,490 "', '" 24,490 "', '\n'],
       ['Construction materials', ' -   ', ' -   ', '" 4,979 "',
        '" 4,979 "', '\n'],
       ['Highways materials', ' -   ', ' -   ', '" 11,980 "',
        '" 11,980 "', '\n'],
       ['Other', ' -   ', ' -   ', ' -   ', ' -   ', '\n'],
       ['TOTAL', '" 1,844 "', '" 4,388 "', '" 107,369 "', '" 113,601 "',
        ' 181.47 \n']], dtype=object)

In [10]:
#data_array[0,:]
for i, point in  enumerate(data_array[:,-1]):
    try: 
        data_array[i,-1] = point[:-1]
    except TypeError:
        continue

In [12]:
df = pd.DataFrame(data_array[1:,:].T, index=data_array[0])
df

,0,1,2,3,4,5,6,7,8,9
Category,Buildings & utilities,Transport,Waste,Schools (maintained),Agriculture,"""Land use, land use change and forestry""",Construction materials,Highways materials,Other,TOTAL
Scope 1,""" 1,254 """,590,-,-,-,-,-,-,-,""" 1,844 """
Scope 2,""" 4,388 """,-,-,-,-,-,-,-,-,""" 4,388 """
Scope 3,""" 1,246 """,""" 3,446 """,""" 39,320 """,""" 7,397 """,""" 14,511 """,""" 24,490 """,""" 4,979 """,""" 11,980 """,-,""" 107,369 """
""" Carbon footprint 2020-21 (tonnes CO2e) (scopes 1,2&3) """,""" 6,887 """,""" 4,037 """,""" 39,320 """,""" 7,397 """,""" 14,511 """,""" 24,490 """,""" 4,979 """,""" 11,980 """,-,""" 113,601 """
Additional outside of scopes,,181.47,-,-,,,,,,181.47

In [15]:
data_array[1:,4]

array(['" 6,887 "', '" 4,037 "', '" 39,320 "', '" 7,397 "', '" 14,511 "',
       '" 24,490 "', '" 4,979 "', '" 11,980 "', ' -   ', '" 113,601 "'],
      dtype=object)

In [17]:
for column in range(1,6):
    for i, point in  enumerate(data_array[1:,column]):
        if point == '' or point == 'N/A' or point == ' -   ':
            data_array[i+1,column] = 0
        else:
            data_array[i+1,column] = float(str(point).replace('"','').replace(',',''))

In [19]:
df = pd.DataFrame(data_array[1:,:].T, index=data_array[0])
df

,0,1,2,3,4,5,6,7,8,9
Category,Buildings & utilities,Transport,Waste,Schools (maintained),Agriculture,"""Land use, land use change and forestry""",Construction materials,Highways materials,Other,TOTAL
Scope 1,1254.0,590.0,0,0,0,0,0,0,0,1844.0
Scope 2,4388.0,0,0,0,0,0,0,0,0,4388.0
Scope 3,1246.0,3446.0,39320.0,7397.0,14511.0,24490.0,4979.0,11980.0,0,107369.0
""" Carbon footprint 2020-21 (tonnes CO2e) (scopes 1,2&3) """,6887.0,4037.0,39320.0,7397.0,14511.0,24490.0,4979.0,11980.0,0,113601.0
Additional outside of scopes,0,181.47,0,0,0,0,0,0,0,181.47

In [20]:
df.to_pickle('./data/gross-summary.pkl')

## Net data

In [21]:
data = []

with open('./data/csvs/net totals.txt','r') as file:
    for line in file:
        splitline = []
        for point in line.split('\t'):
            splitline.append(point)
        data.append(splitline)

In [22]:
data

[['Category',
  'Scope 1',
  'Scope 2',
  'Scope 3',
  '"Carbon footprint 2020-21 (tonnes CO2e) (scopes 1,2&3)"',
  'Additional outside of scopes\n'],
 ['Buildings & utilities',
  '1253.844035',
  '4387.972003',
  '1245.545303',
  '6887.361342',
  '\n'],
 ['Transport',
  '590.4990162',
  '0',
  '3446.284029',
  '4036.783045',
  '181.46984\n'],
 ['Waste', '0', '0', '39320.32708', '39320.32708', '0\n'],
 ['Schools (maintained)', '0', '0', '7397.171915', '7397.171915', '0\n'],
 ['Agriculture', '0', '0', '14510.71398', '14510.71398', '\n'],
 ['"Land use, land use change and forestry"',
  '0',
  '0',
  '24490.34913',
  '24490.34913',
  '\n'],
 ['Construction materials', '0', '0', '4978.731762', '4978.731762', '\n'],
 ['Highways materials', '0', '0', '11979.79', '11979.79', '\n'],
 ['Other', '0', '0', '0', '0', '\n'],
 ['Gross Total',
  '1844.343052',
  '4387.972003',
  '107368.9132',
  '113601.2283',
  '181.46984\n'],
 ['100% green electricity', '0', '-4387.972003', '0', '-4387.972003', '\n'],
 ['solar assets', '0', '0', '-3084.755074', '-3084.755074', '\n'],
 ['Total reduction',
  '0',
  '-4387.972003',
  '-3084.755074',
  '-7472.727077',
  '\n'],
 ['Net Total',
  '1844.343052',
  '0',
  '104284.1581',
  '106128.5012',
  '181.46984\n']]

In [23]:
data_array = np.zeros((len(data),len(data[0])))
data_array = data_array.astype(dtype=object)
print(data_array.shape)

(15, 6)

In [24]:
for i, line in enumerate(data):
    for j, point in enumerate(line):
        data_array[i,j] = line[j]

In [25]:
data_array

array([['Category', 'Scope 1', 'Scope 2', 'Scope 3',
        '"Carbon footprint 2020-21 (tonnes CO2e) (scopes 1,2&3)"',
        'Additional outside of scopes\n'],
       ['Buildings & utilities', '1253.844035', '4387.972003',
        '1245.545303', '6887.361342', '\n'],
       ['Transport', '590.4990162', '0', '3446.284029', '4036.783045',
        '181.46984\n'],
       ['Waste', '0', '0', '39320.32708', '39320.32708', '0\n'],
       ['Schools (maintained)', '0', '0', '7397.171915', '7397.171915',
        '0\n'],
       ['Agriculture', '0', '0', '14510.71398', '14510.71398', '\n'],
       ['"Land use, land use change and forestry"', '0', '0',
        '24490.34913', '24490.34913', '\n'],
       ['Construction materials', '0', '0', '4978.731762', '4978.731762',
        '\n'],
       ['Highways materials', '0', '0', '11979.79', '11979.79', '\n'],
       ['Other', '0', '0', '0', '0', '\n'],
       ['Gross Total', '1844.343052', '4387.972003', '107368.9132',
        '113601.2283', '181.46984\n'],
       ['100% green electricity', '0', '-4387.972003', '0',
        '-4387.972003', '\n'],
       ['solar assets', '0', '0', '-3084.755074', '-3084.755074', '\n'],
       ['Total reduction', '0', '-4387.972003', '-3084.755074',
        '-7472.727077', '\n'],
       ['Net Total', '1844.343052', '0', '104284.1581', '106128.5012',
        '181.46984\n']], dtype=object)

In [26]:
#data_array[0,:]
for i, point in  enumerate(data_array[:,-1]):
    try: 
        data_array[i,-1] = point[:-1]
    except TypeError:
        continue

In [27]:
for column in range(1,6):
    for i, point in  enumerate(data_array[1:,column]):
        if point == '' or point == 'N/A' or point == ' -   ':
            data_array[i+1,column] = 0
        else:
            data_array[i+1,column] = float(str(point).replace('"','').replace(',',''))

In [28]:
df = pd.DataFrame(data_array[1:,:].T, index=data_array[0])
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
Category,Buildings & utilities,Transport,Waste,Schools (maintained),Agriculture,"""Land use, land use change and forestry""",Construction materials,Highways materials,Other,Gross Total,100% green electricity,solar assets,Total reduction,Net Total
Scope 1,1253.844035,590.499016,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1844.343052,0.0,0.0,0.0,1844.343052
Scope 2,4387.972003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4387.972003,-4387.972003,0.0,-4387.972003,0.0
Scope 3,1245.545303,3446.284029,39320.32708,7397.171915,14510.71398,24490.34913,4978.731762,11979.79,0.0,107368.9132,0.0,-3084.755074,-3084.755074,104284.1581
"""Carbon footprint 2020-21 (tonnes CO2e) (scopes 1,2&3)""",6887.361342,4036.783045,39320.32708,7397.171915,14510.71398,24490.34913,4978.731762,11979.79,0.0,113601.2283,-4387.972003,-3084.755074,-7472.727077,106128.5012
Additional outside of scopes,0,181.46984,0.0,0.0,0,0,0,0,0,181.46984,0,0,0,181.46984

In [29]:
df.to_pickle('./data/net-summary.pkl')